.About{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  .title{
    font-size: xx-large;
    background-color: transparent;
    margin-bottom: 20px;
    font-weight:bolder;
  }
  .statement{
    margin: 20px;
    width: 700px;
    text-align: left;
    background-color: #1e4068;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border-radius: 10% 20%;
    padding: 40px;
    padding-bottom: 60px;
    font-weight: 650;
  }
  .foundertitle{
    font-weight: bold;
    font-style: italic;
  }
  .founders{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
  }
}

/*#1e4068 #e9f7f5 #caeadf*/