div.Content {
  display: flex;
  width: 100%;
  height: 30rem;
  justify-content: center;
  align-items: center;
}
/*Block 1*/

.Home.block1 {
  
  
}
.Home.title{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
 
}

.Home.title h3 {
font-size: 20px;
margin: 0;
font-weight: bold;
padding: 10px 50px;
}
.Home.divider {
  flex: 0;
  height: 1px;
  color: black;
  background-color: #fff; /* Adjust divider color if needed */
  margin: 0px 50px 10px;
 
}
.Home.see-more {
 text-align: right;
  font-size: 15px;
  background-color: #1e4068;
  color: #333; /* Adjust button text color if needed */
  padding: 1px 5px;
  cursor: pointer;
  margin-left:5px;
  border-radius: 5px;
  border: solid black 2px;
  font-style: none;
}
.Home.see-more:hover a {
 
  color:#caeadf;
}
.Home.see-more:hover  {
  
  background-color: #2aa5cd;
}
.Home a{
  color:#caeadf;
  text-decoration: none;
}

.Home.block1.image-grid {
  width: 50%; /* Adjust width as needed */
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto; /* Adds some margin for spacing */
  justify-content: center;
 

  
}
.Home.block1.image-grid img{
 margin: 0 15px 15px; /* Spacing between images */
  width: 250px;
  height: 250px;
  cursor: pointer;
  object-fit: cover;
}
.Home.block1.image-grid img:hover {
  filter: brightness(70%);
  
}
.Home.Flyer.body, 
.Home.Videos.body{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 25rem);
}
