.gt {
  display: flex;
  justify-content: center;
  width: 1.625rem;
  color: white;
  font-weight: 1000;
}

.rotateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 90deg;
}

.inactive {
  display: none;
}

.activeCard {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #052049;
  color: white;
  text-decoration: none;
  &:active {
    color: black;
  }
}

.active {
  background-color: #052049;
  color: white;
  height: 100%;
  justify-content: right;
  align-items: right;
}

div.all {
  display: flex;
  width: 15rem;
  flex-flow: column;
  margin: 5rem;
  align-items: center;
}

.picture {
  border: 1px solid black;
}
.picture,
.name,
.activeCard,
.inactive,
p {
  width: 15rem;
  font-family: "Times New Roman";
  font-size: 1.4rem;
  margin: 0%;
  padding: 0%;
  color: black;
}
