div.upper-bar {
  display: flex;
  flex-flow: column;
  padding: 0rem 7rem;
}

div.upper-bar img.icon {
  width: 20rem;
}

div.upper-bar img.icon {
  width: 25rem;
}

div.upper-bar h4 {
  margin: 0rem 0.85rem;
  padding: 0%;
  justify-content: center;
}

ul.lower-bar {
  display: flex;
  background-color: #052049;
  color: #fff;
  list-style: none;
  padding: 0rem 4rem;
  margin: 0%;
  height: 3.5rem;
  justify-content: right;
}

ul.lower-bar li {
  width: 100%;
  height: 100%;
  background-color: #052049;
}

ul.lower-bar li.active {
  width: 100%;
  height: 100%;
  background-color: #075290;
}

ul.lower-bar li a {
  display: flex;
  font-size: 1.25rem;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #075290;
  }
}
