div.upper-bar {
  display: flex;
  height: 5rem;
}

div.upper-bar img.icon {
  width: 5rem;
  height: 5rem;
}

div.upper-bar div.name {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

div.upper-bar div.name h1,
h4 {
  padding: 0%;
  margin: 0%;
}

ul.lower-bar {
  display: flex;
  background-color: #052049;
  color: #fff;
  list-style: none;
  padding: 0rem 1rem;
  margin: 0%;
  height: 3.5rem;
  justify-content: right;
}

ul.lower-bar li {
  width: 100%;
  height: 100%;
  background-color: #052049;
}

ul.lower-bar li.active {
  width: 100%;
  height: 100%;
  background-color: #007bff;
}

ul.lower-bar li a {
  display: flex;
  font-size: 1.25rem;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #007bff;
  }
}
