.carousel {
    width: 600px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3870a6;
    cursor:pointer ;
    position: relative;
}

#firstImage {
    max-width: 600px;
    height:400px;
    padding: 0;
    filter: brightness(70%);
    right: 0; bottom: 0;
    object-fit:contain;
    text-align:center;
    background-color: #3870a6;
    
}
#firstImage:hover {
   
}

.back {
    background-color: #2c5d8a;
}
.overlay { 
    color:#fff;
    
}