#firstImage {
    width: 100%;
    height:600px;
    padding: 0;
    filter: brightness(30%);
    right: 0; bottom: 0;
    object-fit: cover;
    text-align:center;
}
#firstImage:hover {
 
}

.back {
background-color: rgba(0,0,0,0.2);
}
.overlay { 
    color:#fff;
    
}